[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
build = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
tox = "*"
pip-licenses = "*"
tox-gh-actions = "*"
mkdocs = "*"
mkdocs-puml = "*"

[requires]
python_version = "3.12"
